/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to top, #fbc7d4, #9796f0);
  background-size: cover;
}
.unorder-ele {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.container {
  display: flex;
  justify-items: center;
  align-items: center;
}
